@using ClassLibrary;

@model SnackLine;

<div class="snackContainer">
    <h1>@Model.Snack.Name</h1>
    <img src="@Model.Snack.ImageUrl" />
    <ul class="snacklist">

        @{


            foreach (Extra extra in ViewBag.Extras)
            {
                <form asp-controller="Orders" class="snackrow" asp-action="AddExtra" asp-route-extraid="@extra.Id">
                    <input type="hidden" asp-for="Snack" value="@Model.Snack" />
                    <input type="hidden" asp-for="SnackId" value="@Model.SnackId" />
                    <input type="hidden" asp-for="ExtraLines" value="@Model.ExtraLines" />
                    <input type="hidden" asp-for="SnackName" value="@Model.SnackName" />
                    <input type="hidden" asp-for="Id" value="@Model.Id" />

                <li><button class="btn extra" type="submit">@extra.Name - € @extra.Price</button></li>

                </form>
            }

        }


        <form class="snackrow" asp-controller="Orders" asp-action="Extras">

            <input type="hidden" asp-for="Snack" value="@Model.Snack" />
            <input type="hidden" asp-for="SnackId" value="@Model.SnackId" />
            <input type="hidden" asp-for="ExtraLines" value="@Model.ExtraLines" />
            <input type="hidden" asp-for="SnackName" value="@Model.SnackName" />
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            
            <label asp-for="Amount" class="control-label"></label>
            <input type="number" asp-for="Amount" class="form-control" />

            
            <button asp-controller="Orders" asp-action="Extras" asp-route-remove="false" class="btn submit" type="submit">Bevestigen</button>

            <button asp-controller="Orders" asp-action="Extras" asp-route-remove="true" class="btn cancel" type="submit">Annuleren</button>

        </form>

    </ul>
</div>